# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Cache
.turbo
.cache

# Logs
*.log

# Environment files
.env*

# IDE
.vscode
.idea

# OS
.DS_Store

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Public assets
public/images
public/videos
