version: "3.9"

services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        NEXT_PUBLIC_SITE_URL: ${NEXT_PUBLIC_SITE_URL}
        NEXT_PUBLIC_CDN_URL: ${NEXT_PUBLIC_CDN_URL}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
        NEXT_PUBLIC_ENV: ${NEXT_PUBLIC_ENV:-development}
    image: web-tem:local
    container_name: web-tem-local
    env_file: ../.env.docker
    ports:
      - "3000:3000"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
